

<div class="login_form w-75 m-auto my-4">
  <h3>login Form </h3>
  <form [formGroup]="loginform" (ngSubmit)="loginForm()">
    <div class="login_control my-4">
      <label>Email</label>
      <input formControlName="email" type="email" class="form-control my-2">
    </div>

    <div class="login_control my-4">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control my-2">
    </div>

    <button  type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
