
<div class="row  my-5">
  <div class="col-md-4 d-flex align-items-center">
    <div class=" w-100">
      <div class="brdr w-25"></div>
      <h3 class="my-3">Trending <br>people <br>to watch now</h3>
      <h6 class="text-muted">most watched people by day</h6>
      <div class="brdr w-100"></div>
    </div>
  </div>
  <div *ngFor="let person of personList " class="col-md-2">
    <div class=" my-4" routerLink="people/details/{{person.id}}/person">
      <img [src]='imgURL+ person.profile_path' class="img-fluid mb-3">
      <h3 class="h5">{{person.name}}</h3>
    </div>
  </div>
</div>





